# Ignore Data
*.zip
*.tar.gz
*.pth
*.pt

# IGNORE DATASETS
data/
fall2025_deeplearning/
cc3m_all/

# Ignore Environment
env/
ssl_project/
.ipynb_checkpoints/
__pycache__/

# Ignore OS files
.DS_Store
